.cabecalho {
    text-align: center;
    font-size: 0.6REM;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    display: flex;
    justify-content: space-between;
    color: #fff;   
    background-color: #ff4d00;
}


.cabecalho__logo {
    padding: 1.5em 0;
    width: 300px;
    
    
}


.cabecalho__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    
}



.item-menu {
    margin: 50px;
}











.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(depositphotos_57551863-stock-photo-rock-concert\ \(1\).jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    max-height: 100%;
}


.banner-texto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color:rgba(43, 21, 21, 0.396);
    padding: 20px;
    color: #fff;
}














.conteiner-pai {
    display: flex;/*Transfomar em FLEXBOX*/
    padding: 25px;/*adicionar a margem a dentro*/
    justify-content: space-evenly;/*espaço entre os elementos*/
    background-color: black;/*cor de fundo*/
}


.conteiner-filho {
    background-color: rebeccapurple;/*cor de fundo*/
    width: 200px;/*tamanho do conteriner*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;/*tipo de fonte*/
    font-weight: bold;/*peso de fonte (negrito)*/
    color: #fff;/*cor da fonte*/
    border-radius: 10px;/*contos arredondados*/
    text-align: center;/*centraliza o texto*/
    padding: 20px;/*adicionar a margem dentro*/
}


.imagem_instrumentos {
    max-width: 50%;/*tamanho da imagem*/
    border-radius: 50%;/*cantos arredondados para a imagem*/
}


h2 {
    font-size: 18px;/*tamanho da fonte*/
}


p {
    font-weight: lighter;/*paso da fonte (mais fina)*/
    text-align: center;/*alinhamento de texto (centralizado)*/
    margin-top: 5px;/*margem em cima*/
    font-size: 12px;/*tamanho da fonte*/
}


.conteiner2 {
    padding-top: 50px;
    padding-bottom: 50px;/*criar uma margemem cima dentro da caixa*/
    background-color: rgb(0, 0, 0);/*trocar a dor do backgroud*/
    display: flex;/*transforma em flexbox*/
    justify-content: center;/*colocar os filhos centralizado*/
    transition: all 0.2s ease;/*margem para a direita*/
}


.texto {
    color: rgb(255, 255, 255);/*troca a cor do texto para branco*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;/*muda a fonte*/
    padding: 20px;/*espaçamento para o texto*/
    margin-right: 50px;/*margem para a direita*/
}


.imagem2 {
    width: 400px;/*seta e tamanho da largura da imagem*/
    background-color: black;
}


.imagem-filha {
    max-width: 100%;/*largura max da imagem é igual ao pai*/
    max-height: 100%;/*altura max da imagem é igual ao pai dela*/
    border-radius: 10px;/*cantos arredondados*/
}


.avo2 {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


.pai2 {
    border: 1px solid white;
    margin: 20px;
    max-width: 250px;
    max-height: 250px;
}

.filha2 {
    max-width: 100%;
    max-height: 100%;
}


.pai4 {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


.filho1 {
    border: 1px solid white;
    margin: 20px;
    max-width: 250px;
    max-height: 250px;
}



.filho3 {
    max-width: 500%;
    max-height: 100%;
}