body {
    font-family: Arial, Helvetica, sans-serif;
    color: black
}     

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: larger;
    color: black;
    font-style: italic;
    font-size: 2em;
    color: rgb(192, 0, 0);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    font-weight: 300;
    font-style: italic;
}              

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(91, 56, 56);
}

img src {
    text-align: center;
}

